.header {
  width: 100%;
}

.header__wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  display: flex;

  padding-top: 10px;

  background-color: #ffffff;
}

.header__logo {
  width: 170px;
  height: 60px;
  margin-right: 30px;

  background: url(../img/logo.png) no-repeat 50% 50%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__wrapper {
    width: 656px;
    padding: 7px 48px 7px 64px;
  }

  .header__wrapper::before {
    position: absolute;
    top: 17px;
    left: 188px;

    content: "";

    width: 28px;
    height: 2px;
    background-color: #afafaf;
    box-shadow: 0px 8px #afafaf,
                0px 16px #afafaf;
    cursor: pointer;

  }

  .header__logo {
    width: 86px;
    height: 38px;
    margin-right: 38px;

    background: url(../img/logo-leptop.png) no-repeat 50% 50%;
  }

  .header__wrapper {
    justify-content: space-between;
    border: 1px solid red;
  }
}
