.page-footer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;

  background: #000000;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 248px;
}
