.page-header-link {
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 210px;
}

.page-header-link__service {
  width: 300px;
  padding: 15px 0;
  margin-right: 20px;

  text-align: center;

  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: bold;
  color: #000000;
  background-color: #00ffd8;
}

.page-header-link__contact {
  width: 300px;
  padding: 15px 0;

  text-align: center;

  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #00ffd8;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-header-link {
    width: 768px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 130px;
  }

  .page-header-link__service {
    width: 292px;

    font-size: 16px;
    line-height: 26px;
  }

  .page-header-link__contact {
    width: 292px;

    font-size: 16px;
    line-height: 26px;
  }
}
