.page-header__contact {
  display: flex;
  width: 370px;
  margin-top: 16px;

  justify-content: space-between;
}

.page-header__text {
  display: none;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.page-header__text span {
  color: #01eeca;
}

.page-header__tel {
  display: block;
  margin-right: 25px;
  margin-top: 16px;

  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-style: bold;
  color: #000000;

  cursor: pointer;
}

.page-header__communication {
  width: 180px;
  height: 21px;
  padding: 12px 0 12px;

  text-decoration: none;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #00ffd8;

  cursor: pointer;
}

.page-header__wrapper {
  padding-top: 160px;
  margin: 0 auto;

  background: url("../img/bg.jpg") no-repeat 50% 50%;
}

.page-header__title {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 246px;
  padding: 0;

  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
  line-height: 75px;
  font-style: bold;
  font-weight: 800;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-header__communication {
    display: none;
  }

  .page-header__contact {
    width: 123px;
    margin-top: 12px;
  }

  .page-header__tel {
    margin-right: 0;
    margin-top: 0;
    width: 122px;
    font-size: 14px;
    line-height: 20px;
  }

  .page-header__title {
    width: 614px;
    margin-bottom: 22px;
    margin: 0;

    font-size: 38px;
    line-height: 53px;
  }

  .page-header__text {
    display: block;
    margin-bottom: 84px;
    width: 585px;
  }

  .page-header__wrapper {
    width: 685px;
    padding-left: 83px;
    padding-top: 130px;
    margin: 0 auto;
    border: 1px solid red;
  }
}
