.page-header {
    padding-top: 20px;

    font-family: "Roboto", sans-serif;

    border: 1px solid red;
}

.page-header__logo {
  width: 142px;

  background: url(../img/logo.png) no-repeat 50% 50%;
}
