.page-header-link {
  display: flex;
  justify-content: space-between;
  width: 624px;
  margin-bottom: 210px;
}

.page-header-link__service {
  width: 300px;
  padding: 15px 0;

  text-align: center;

  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: bold;
  color: #000000;
  background-color: #00ffd8;
}

.page-header-link__contact {
  width: 300px;
  padding: 15px 0;

  text-align: center;

  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #00ffd8;
}
