.partners h4 {
  margin-bottom: 40px;

  font-size: 30px;
  line-height: 50px;
  color: #000000;
}

.partners__item {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 134px;
  margin-right: 28px;

  border: 1px solid #ededed;
}

.partners__item:last-child {
  margin-right: 0;
}

.partners__item:nth-child(1) {
  background: url("../img/ava.png") no-repeat 50% 50%;
}

.partners__item:nth-child(2) {
  background: url("../img/mirror.png") no-repeat 50% 50%;
}

.partners__item:nth-child(3) {
  background: url("../img/shield.png") no-repeat 50% 50%;
}

.partners__item:nth-child(4) {
  background: url("../img/teplo.png") no-repeat 50% 50%;
}
