.partners h4 {
  margin-bottom: 40px;

  text-transform: uppercase;

  font-size: 30px;
  line-height: 50px;
  color: #000000;
}

.partners {
  position: relative;

  width: 1170px;
  margin-bottom: 128px;
  margin-left: auto;
  margin-right: auto;
}

.partners::before {
  position: absolute;
  top: 22px;
  right: 0px;

  content: "";
  width: 868px;
  height: 2px;

  background-color: #000000;
}

.partners__item {
  display: inline-block;
  vertical-align: top;
  width: 268px;
  height: 134px;
  margin-right: 26px;

  border: 1px solid #ededed;
}

.partners__item:last-child {
  margin-right: 0;
}

.partners__item:nth-child(2) {
  background: url("../img/ava.png") no-repeat 50% 50%;
}

.partners__item:nth-child(3) {
  background: url("../img/mirror.png") no-repeat 50% 50%;
}

.partners__item:nth-child(4) {
  background: url("../img/shield.png") no-repeat 50% 50%;
}

.partners__item:nth-child(5) {
  background: url("../img/teplo.png") no-repeat 50% 50%;
}
