.project {
  position: relative;
  width: 1170px;
  margin-bottom: 116px;
  margin-left: auto;
  margin-right: auto;
}

.project::before {
  position: absolute;
  top: 22px;
  right: 0px;

  content: "";
  width: 868px;
  height: 2px;

  background-color: #000000;
}

.project__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project h3 {
  display: block;
  margin-bottom: 40px;

  text-transform: uppercase;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
}

.project__item a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 45px;
  padding: 8px 0;

  text-align: center;
  text-decoration: none;
  color: #a1a1a1;

  border: 2px solid #a1a1a1;
}

.project__item a:hover {
  background: #00ffd8;
  border: 2px solid #00ffd8;
}

.project__item {
  position: relative;
  box-sizing: border-box;
  height: 290px;
  padding-left: 30px;
  padding-right: 30px;
}

.project__item b {
  display: block;
  margin-top: 57px;
  margin-bottom: 30px;

  font-family: "Roboto", Arial, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}

.project__item p {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  color: #b8b9b9;
}

.project__item:nth-child(1),
.project__item:nth-child(2),
.project__item:nth-child(3),
.project__item:nth-child(4) {
  width: 290px;
  margin-right: 3px;
}

.project__item:nth-child(4) {
  margin-right: 0;
}

.project__item:nth-child(1) {
  background: url("../img/project-photo1.jpg") no-repeat 50% 50%;
}

.project__item:nth-child(2) {
  background: url("../img/project-photo2.jpg") no-repeat 50% 50%;
}

.project__item:nth-child(3) {
  background: url("../img/project-photo3.jpg") no-repeat 50% 50%;
}

.project__item:nth-child(4) {
  background: url("../img/project-photo4.jpg") no-repeat 50% 50%;
}

.project__item:nth-child(6),
.project__item:nth-child(5) {
  width: 583px;
  margin-top: 4px;
}

.project__item:nth-child(5) {
  margin-right: 4px;
  background: url("../img/project-photo5.jpg") no-repeat 50% 50%;
}

.project__item:nth-child(6) {
  background: url("../img/project-photo6.jpg") no-repeat 50% 50%;
}
