.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 116px;
}

.project h3 {
  margin-bottom: 40px;

  font-size: 30px;
  line-height: 50px;
  color: #000000;
}

.project__item {

}
