.social {
  width: 140px;

  vertical-align: top;

  font-size: 0;
  background: white;
}

.social ul {
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  height: 22px;
  margin-right: 30px;
}

.social li:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
}

.social__link--vk {
  width: 30px;
  height: 20px;
  background: url("../img/vk.png") no-repeat 50% 50%;
}

.social__link--tv {
  width: 25px;
  height: 25px;
  background: url("../img/tv2.svg") no-repeat 50% 50%;
  fill: red;
}

// .social__link--tv:hover {
//   color: #ffffff;
// }

.social__link--fb {
  width: 12px;
  height: 20px;
  background: url("../img/fb.png") no-repeat 50% 50%;
}
